@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

html{
    font-family: 'Inter', sans-serif;
    background-color: #F7F8FC;
    margin-top: 0px;
    margin-bottom: 48px;
    color: #232326;
}

body::-webkit-scrollbar{width: 12px;}
body::-webkit-scrollbar-track{background: #e6e6e6;}
body::-webkit-scrollbar-thumb{background-color: #999999; border-radius: 12px; border: 2px solid #e6e6e6;}
body::-webkit-scrollbar-thumb:hover{background-color: #7c7c7c; border-radius: 12px;}
body::-webkit-scrollbar-track:hover{background: #dddddd;}

body{
    margin: 0px;
}

header{
    position: sticky;
    top: 0;
    background-color: white;
    padding: 16px;
    display: flex;
    box-shadow: 0px 0px 4px 0px #302d5414;
}

header > nav{
    min-width: 848px;
    align-items: center;
    vertical-align: auto;
    display: flex;
    justify-content: space-between;
    margin: auto;
}

header > nav > a{
    text-decoration: none;
    color: #232326
}

header > nav > aside > button{
    font-weight: 400;
    align-items: center;
    width: 132px;
    height: 40px;
}

header > nav > a:hover{
    color: #00458C;
    font-weight: 500;
}

h2{
    font-weight: 600;
    font-size: 26px;
    color: #232326;
}

h4{
    font-size: 18px;
    font-weight: 600;
    height: 12px;
    color: #232326;
}

p{
    font-size: 16px;
    font-weight: 400;
    color: #232326;
}

main{
    background-color: white;
    width: auto;
    max-width: 800px;
    min-width: 300px;
    padding: 24px;
    padding-top: 8px;
    border-radius: 16px;
    margin: auto;
    margin-top: 48px;
    box-shadow: 0px 0px 4px 0px #302d5414;
}

.destaque {
    font-weight: 500;
    color: #00458C;
}

.destaque:hover{
    text-decoration: underline;
    cursor: pointer;
    font-weight: 500;
}

.title-back{
    display: flex;
    cursor: pointer;
    width: fit-content;
    padding-right: 8px;
    align-items: center;
}

div.two-buttons-form{
    display: flex;
    justify-content: space-between;
}

button{
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 16px;
    padding: 10px;
    width: 360px;
    border-radius: 8px;
}

button.filled1{
    border: none;
    color: white;
    background-color: #00458C;
}

button.filled2{
    border: none;
    color: #00458C;
    background-color: #E8E8F0;
}

button.filled1:hover{
    background: #013a74;
    cursor: pointer;
    transition: all 300ms ease;
}

button.filled2:hover{
    background-color: #dedeed;
    cursor: pointer;
    transition: all 300ms ease;
}

